<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Hate Speech Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="container" style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    ">
            <h1>About This Project</h1>
            <p>We fine-tuned BERT-based,leveraging its advanced contextual understanding to classify text accurately and predict the speech. The model was pre-trained on a large corpus and then fine-tuned on a specialized dataset containing labeled examples of both hate speech and non-hate speech.</p>
            <p>Feel free to explore the features and test the model with your own inputs! and create a Safer World!</p>
        <a href="/" style="
            text-decoration: none;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border-radius: 6px;
            font-size: 14px;
            cursor: pointer;
        ">Go Back</a>
    </div>
</body>
</html>
